{{> common/head }}

<div id="loader-wrapper">
  <aui-spinner size="large"></aui-spinner>
  {{!-- <div id="loader"></div> --}}
</div>

<div id="project-loader-wrapper">
  <aui-spinner size="large"></aui-spinner>
  {{!-- <div id="project-loader"></div> --}}
  
</div>

<div id="action-loader-wrapper">
  <aui-spinner size="large"></aui-spinner>
  {{!-- <div id="action-loader"></div> --}}
</div>

<div class="d-flex" id="wrapper" class="checkForAdminPermission" style="display: none !important;">

  {{> common/sidebar currentPage='appsetup' }}

  <section id="content" role="main">

    <div id='appSetupFunctionality'>
      {{> appsetup/app_setup_view }}
    </div>

    {{> appsetup/app_setup_js }}

  </section>

</div>

<div id="notHaveProjectAccessCheck" style="display: none;">
  Please connect to admin for access
</div>

{{> common/footer }}