<!-- Page Content -->
<div id="page-content-wrapper">

  <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #FAFAFA;">
    <button class="btn btn-default" id="menu-toggle">
      <label class="main-title" id="current_page_tag">Create New Test</label>
    </button>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active" style="display: inline-block;">
          <button class="aui-button" id="button-spin-1">Cancel and Go Back</button>
          <a onclick="getTokendata()" class="aui-button aui-button-primary" href="#">
            Save
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <!---sub-sidebar-section--->
  <div id="sub-sidebar-div">
    <div class="aui-page-panel">
      <aside class="aui-page-panel-sidebar sub-sidebar" style="width: 294.75px !important;">
        <ul>
          <li class="active" style="background-color: #344563; padding: 7.5px;">
            <div>
              <h4 style="color: white;">Test Case</h4>
            </div>
            <div style="position: absolute; left: 187.5px;">
              <select class="select" id="select-example" name="select-example"
                style="background: transparent; border: transparent; color: white;">
                <option>Assign to me</option>
                <option>Option 1</option>
              </select>
              <img class="gear-icon" style="color: white;" src={{furl "/images/search.svg" }} />
            </div>
          </li>


          <li class="active" id="" style="background-color:white; height: auto;">
            <div style="width: 33px; height: 33px; border-radius: 100px; background: #4B88E7; padding: 3.75px;">
              <h3> VS</h3>
            </div>
            <div style="padding: 0px 7.5px;">
              <h5>0Auth Login using email id</h5>
              <div style="float: left;">
                <h5><img class="gear-icon" src={{furl "/images/red_flag.svg" }} /> VIS-T1</h5>
              </div>
              <div style="position: absolute; left: 217.5px;">
                <h6>
                  <img class="gear-icon" src={{furl "/images/Polygon.svg" }} />00:00:00
                </h6>
              </div>
          </li>





        </ul>
      </aside>

      <!--testcycle-webpage-->
      <section class="aui-page-panel-content content-section-testcycle-oauth">
        <div>
          <button class="new-test-btn" id="button-spin-1">Start a new test execution</button>
        </div>

        <div class="test-cycle-field">
          <div class="testcycle-header">
            <h3>VIS-T2 (1.0) Login Field Validations Testing
              <button class="not-exec-btn" id="button-spin-1">Not Executed</button>
            </h3>
            <div>
              <p>No estimated time | Actual 4s | 31/Aug/20 10:31 pm</p>
            </div>

            <section class="details">
              <div class="diff-section">
                <span>
                  <h4 class="heading">Execution</h4>

                </span>
                <table class="aui-1" style="width: 525px; height: 90px;">
                  <thead>
                    <tr>
                      <th id="basic"></th>
                      <th id="option"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td headers="basic" style="width: 112.5px;"><b>Environment:</b></td>
                      <td headers="option">None</td>
                    </tr>
                    <tr>
                      <td headers="basic" style="width: 112.5px;"><b>Assigned To:</b></td>
                      <td headers="option">Peter Parker</td>
                    </tr>
                    <tr>
                      <td headers="basic" style="width: 112.5px;"><b>Executed By:</b></td>
                      <td headers="option">Peter Parker</td>
                    </tr>
                    <tr>
                      <td headers="basic" style="width: 112.5px;"><b>Estimated(s):</b></td>
                      <td headers="option">None</td>
                    </tr>
                    <tr>
                      <td headers="basic" style="width: 112.5px;"><b>Actual:</b></td>
                      <td headers="option">Peter Parker</td>
                    </tr>

                  </tbody>
                </table>
              </div>

              <div class="diff-section">
                <span>
                  <h4 class="heading">Objective</h4>

                </span>
                <p style="margin: 0px;">Check strict validations for all login.</p>
              </div>

              <div class="diff-section">
                <span>
                  <h4 class="heading">Precondition</h4>

                </span>
                <p>This is sample precondition for this story.</p>
              </div>

              <div class="diff-section">
                <span>
                  <h4 class="heading">Details</h4>

                </span>
                <table class="aui-2" style="width: 375px; height: 60px;">
                  <thead>
                    <tr>
                      <th id=""></th>
                      <th id=""></th>
                      <th id=""></th>
                      <th id=""></th>
                      <th id=""></th>
                      <th id=""></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td headers="" style="width: 1px;">Folder:</td>
                      <td headers="">None</td>
                      <td headers="" style="width: 1px;">Status:</td>
                      <td headers="" style="color: green;">Approved</td>
                      <td headers="" style="width: 1px;">Priority:
                      <td headers="" style="color: red;">High</td>
                    </tr>
                    <tr>
                      <td headers="" colspan="2">Labels: <button class="aui-button" id="button-spin-1">Oauth</button>
                      </td>
                      <td headers="" colspan="2"><button class="aui-button" id="button-spin-1">Login dev</button></td>
                      <td headers="" colspan="2"></td>
                    </tr>
                  </tbody>
                </table>
                <p>Attachment: <a href="#">document_testing01.pdf</a></p>
              </div>

              <div class="diff-section">
                <span>
                  <h4 class="heading">Issues</h4>

                </span>
                <a href="#">+ Add an issue</a>
              </div>

              <div class="diff-section">
                <span>
                  <h4 class="heading">Attachments</h4>

                </span>

                <section class="attachment-section" style="margin: 0;">
                  <input type="file" class="upfile" name="myfile">
                  <h6 class="drop-files">Drop file here or <a href="#">browse from system</a></h6>
                </section>

              </div>

              <div class="diff-section">
                <span>
                  <h4 class="heading">Comments </h4>

                </span>
                <input class="text" type="text" id="text-input-comment" name="text-input" title="Text input"
                  placeholder="Add a Comment">
              </div>

            </section>
          </div>



          <div class="right-test-cycle-field">

            <div style="position: absolute; right: 0;">
              <select class="select-timer" id="select-example" name="select-example">
                <option>00:00:00</option>
              </select>
              <img class="gear-icon" src={{furl "/images/Polygon.svg" }} />
              <h5></h5>
            </div>

            <h4 class="heading" style="margin-top: 37.5px;">Test Scripts</h4>
            <div class="test-script-right">
              <div class="test-script-sectionbtn">
                <button class="aui-button-number" id="button-spin-1"><h1 style="color: white;">1</h1></button>
                <button class="aui-button-opt" id="button-spin-1">Success </button>
                <button class="aui-button-opt" id="button-spin-1">Failed </button>
                <button class="aui-button-opt" id="button-spin-1">Blocked </button>
                <button class="aui-button-opt" id="button-spin-1">More </button>
              </div>

              <table class="aui-3">
                <thead>
                  <tr>
                    <th id=""></th>
                    <th id=""></th>
                  </tr>

                </thead>
                <tbody>
                  <tr>
                    <td><b>Step</b></td>
                    <td>Enter valid email id</td>
                  </tr>
                  <tr>
                    <td><b>Test Data</b></td>
                    <td>abc@xyz</td>
                  </tr>
                  <tr>
                    <td><b>Expected Result</b></td>
                    <td>Error: Invalid email id, Please enter valid email id.</td>
                  </tr>


                </tbody>

              </table>
              <span style="margin-left: 15px;">
                <label>Actual Result</label>
              </span>
              <div style="margin-left: 15px;">
                <input class="text" type="text" id="text-input-result" name="text-input" title="Text input"
                  placeholder="Enter actual result here...">
              </div>
            </div>
          </div>







        </div>
      </section>
      <p class="addon-data hidden">
        <code>
        </code>
      </p>
    </div>
    <!-- /#page-content-wrapper -->
  </div>