{{> common/head }}

<div class="d-flex" id="wrapper" class="checkForAdminPermission" style="display: none !important;">

  {{> common/sidebar currentPage='testplan' }}

  <section id="content" role="main">

    <div id='testplanFunctionality'>

      {{> common/common_js }}

      {{#ifCond viewPage "initial"}}
          {{> testplan/screens/initial }}
      {{/ifCond}}

      {{#ifCond viewPage "add"}}
          {{> testplan/screens/add }}
      {{/ifCond}}

      {{#ifCond viewPage "list"}}
          {{> testplan/screens/list }}
      {{/ifCond}}

      {{#ifCond viewPage "edit" }}
        {{> testplan/screens/add }}
      {{/ifCond}}

    </div>

    {{#ifCond viewPage "edit" }}
      <script>
        editTest('testplan');
      </script>
    {{/ifCond}}

  </section>

</div>

<div id="notHaveProjectAccessCheck" style="display: none;">
  Please connect to admin for access
</div>

{{> common/footer }}