<form class="aui" id="testPlanAddEditForm" action="javascript:void(0);" autocomplete="off">

    <div id="testplanBasicDetails">
        <div class="form-group select-field-type">
            <label class="label" for="form-control">Select Folder</label>
            <select id="testplan_folder_select" name="folder_id" class="form-control select customFieldTypeSelect">
                <option value="">Select Folder</option>
            </select>
        </div>


        <div class="form-group">
            <label class="label required-field">Test Plan Name</label>
            <input type="text" data-aui-validation-field id="testplan_name" class="form-control text medium-field" name="name"
                placeholder="Enter test plan name" required="required" style="width: 540px;">
        </div>


        <div class="form-group">
            <label class="label required-field">Description</label>
            <textarea id="testplan_description" data-aui-validation-field class="form-control textarea" rows="5" name="description"
                style="width: 540px;height: unset !important;padding: .28125rem .5625rem !important;"
                required="required"></textarea>
        </div>


        <div class="container2">
            <div class="row">
                <div class="col">
                    <div class="form-group select-field-type">
                        <label class="label required-field">Owner</label>
                        <select id="testplan_owner_select" name="owner" data-aui-validation-field
                            class="form-control select customFieldTypeSelect" required="required" style="width: 156.75px;">
                            <option value="">Select Owner</option>
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group select-field-type">
                        <label class="label required-field">Status</label>
                        <select id="testplan_status_select" name="status" data-aui-validation-field
                            class="form-control select customFieldTypeSelect" required="required" style="width: 156.75px;">
                            <option value="">Select Status</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-group">
            <label class="label" for="test-plan-name">Labels</label>
            <br>
            <select id="testplan_label_select" name="label" class="select multi-selector-dropdown" multiple="multiple"
                style="width: 540px;padding: 0px;border: none;"></select>
        </div>
    </div>


    <span class="head testplanCustomFieldDiv-head" style="display: none;">
        <h4 class="other-info" style="margin-top: 15px;">Other Information</h4>
        <hr class="heading-line" size="8" color="#FFFFFF">
    </span>


    <div id="testplanCustomFieldDiv"></div>


    <div style="opacity: 0;">
        <button type="submit" id="testPlanSubmitButton"></button>
    </div>

</form>




<button type="btn" class="aui-button btn1" id="spinnerbutton" onclick="changeAddSubPages('traceability')">Next: Traceability</button>




<script>
    
    CKEDITOR.replace( 'testplan_description', {
        toolbar: [
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ], items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi' ], items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl', 'Language' ] },
            { name: 'links', items: [ 'Link', 'Unlink', 'Anchor' ] },
            { name: 'insert', items: [ 'Table', 'HorizontalRule', 'Smiley', 'SpecialChar', 'PageBreak' ] },
            '/',
            { name: 'styles', items: [ 'Styles', 'Format', 'Font', 'FontSize' ] },
            { name: 'colors', items: [ 'TextColor', 'BGColor' ] },
            { name: 'tools', items: [ 'Maximize', 'ShowBlocks' ] },
        ]
    });
    

    AJS.$('.multi-selector-dropdown').auiSelect2();


    function submitFormDataTestPlan(type) {
        let allAreFilled = true;

        if (type !== 'draft') {
            document.getElementById("testPlanAddEditForm").querySelectorAll("[required]").forEach(function (i) {
                if (!allAreFilled) return;
                if (!i.value) allAreFilled = false;
                if (i.type === "radio") {
                    let radioValueCheck = false;
                    document.getElementById("myForm").querySelectorAll(`[name=${i.name}]`).forEach(function (r) {
                        if (r.checked) radioValueCheck = true;
                    })
                    allAreFilled = radioValueCheck;
                }
            })

            if (!allAreFilled) {
                toaster('Please enter required details', 'warning');
                $("#testPlanSubmitButton").trigger("click");
            }
            else {
                let inputHidden = document.createElement("INPUT");
                inputHidden.setAttribute("type", "hidden");
                inputHidden.setAttribute("value", type);
                inputHidden.setAttribute('id', 'submitFormType');
                document.getElementById('testplanBasicDetails').append(inputHidden);

                submitCreationDataByType('testplan')
            }
        }
        else {
            let inputHidden = document.createElement("INPUT");
            inputHidden.setAttribute("type", "hidden");
            inputHidden.setAttribute("value", "draft");
            inputHidden.setAttribute('id', 'submitFormType');
            document.getElementById('testplanBasicDetails').append(inputHidden);

            submitCreationDataByType('testplan')
        }
    }


    commonOwnerSelectListing('testplan');
    getCommonStatusData('testplan');
    getCommonCustomFieldData('testplan');
    getCommonConfigurationLabelData('testplan');
    getCommonFolderData('testplan');


</script>